$primaryColor: #2574a9;
//$primaryColor: #CC99FF;
$secondaryColor: #FF313F;
//$secondaryColor: #99FF66;
$clearColor: #FFF;

@import 'lib/column';
@import 'lib/style';
@import 'lib/grid';
@import 'lib/icons';

@import 'lib/YTplayer';

@import 'lib/lightbox';


@import 'lib/owl/carousel';
@import 'lib/owl/transitions';

@import 'lib/responsive';
@import 'lib/slicknav';

@import 'lib/ie';
@import 'lib/jquery.fancybox';
@import 'lib/jquery-ui';

@import 'lib/custom';
