<!DOCTYPE html>
<html>
    <head>
        <title>{% block meta_title %}Maya - Smart & Powerful HTML Theme{% endblock %}</title>
        {% block page_head %}
            {% include 'PadMayaBundle::page_head.html.twig' %}
        {% endblock %}
        {% include 'PadMayaBundle::page_head_style.html.twig' %}
    </head>
    <body>
		{% block header %}
      {{
        render(
          controller(
            'PadMayaBundle:Menu:index'
          )
        )
      }}
		{% endblock %}
    {% block content %}{% endblock %}
		{% block footer %}
		    {% include 'PadMayaBundle:global:footer.html.twig' %}
		{% endblock %}
      {% include 'PadMayaBundle::page_script.html.twig' %}
      <script>
          {% block javascript %}{% endblock %}
      </script>
    </body>
</html>
